* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'MyWebFont';
    src:url("/css/Fipps-Regular.otf"); /* IE9 Compat Modes */
  }

  @font-face {
    font-family: 'newone';
    src:url("/css/prstartk.ttf"); /* IE9 Compat Modes */
  }



body {
    margin: 0;
    font-family: 'MyWebFont';
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
    display: flex;
    flex-direction: column;
}

ul {
    color: white;
}

.log {
    text-align: center;
}

.logo {
    position: relative;
    color: #3B98F7;
    text-shadow: 3px 2px #EC3D60;
    margin: 0;
    padding: 0;
    font-size: 6em;
    
}

nav {
    margin: 0 auto;
    margin-top: 2em;
    
}

.nav{
    font-family: 'newone';
    color:white;
    background-color: #8A63D9;
    padding: 1em;
    text-decoration: none;
    border-radius: 0.5em;

}

img {
    padding-top: 0.3em;
}

.top {
    position: relative;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "newone";
    top: 2em;
}

.bottom {
    position: relative;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "newone";
    bottom: 3em;
}


.song {
    background-color: white;
    width: 20vw;
    height: 35vh;
    display: flex;
    flex-direction: column;
    margin: 1em;
    border-radius: 0.5em;
    overflow: hidden;
    font-family: 'Karla';
    border: 1px solid white;
    box-shadow: 4px 2px 4px black;
    text-align: center;

    
}

.song h2 {
    font-size: 1em;
    margin:0;
}

main {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.click {
    display: flex;
    justify-content: space-around;
}
.click input {
  font-family: 'newone';
    color:white;
    background-color: #8A63D9;
    padding: 1em;
    text-decoration: none;
    border-radius: 0.5em;
}

#del {
    background-color: #EC3D60;
    
}

label {
    color: white;
    font-family: 'newone';
}

#addSong {
    width: 3em;
    font-family: 'newone';
    height: 3em;
    background-color: #3B98F7;
    color: white;
    font-size: 1.5em;
    border-radius: 10%;
    margin-left: 30px;
}

.form {

    margin: 0 auto;
    background-color: gray;
    width: 30em;
    color:black;
    text-align: center;
    border-radius: 1em;
    padding: 3em;
    font-size: 1em;
    box-shadow: 6px 6px  #EC3D60;

}

.editing {
    color:black;
    padding: 0;
}

.inputs {
    border-radius: 0.5em;
    font-size: 1.5em;
    padding: 0.2em;
}